body {
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    color: #9b94aa;
    background-color: #120e1c;
    background-image: linear-gradient(to top,
            #120e1c 64%,
            #100c1a 100%,
            rgba(7, 3, 18, 0) 100%);
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    padding: 0
}

.center-wrapper {
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
}


.list-padding {
    padding-left: 15px;
}

/* fonts */

.heading-style-1 {
    margin: 0;
    font-family: Oswald;
    font-size: 3.6rem;
    font-weight: 700;
    /* line-height: 9.8rem; */
    color: #ffffff;
    text-transform: uppercase;
}

.heading-style-2 {
    margin: 61px 0 0 0;
    font-family: Oswald;
    font-size: 2.4rem;
    font-weight: 700;
    /* line-height: 9rem; */
    color: #ffffff;
    text-transform: uppercase;
}

.heading-style-3 {
    margin: 45px 0 0 0;
    font-family: Oswald;
    font-size: 2.4rem;
    font-weight: 300;
    /* line-height: 9rem; */
    color: #ffffff;
}

.heading-style-4 {
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.questions-heading {
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 700;
    /* line-height: 2rem; */
    color: #ffffff;
    text-transform: uppercase;
}

.text {
    margin-top: 32px;
}

/* header */

.price-info {
    display: none;
}

button.bar {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
}


.menu-trigger {
    text-indent: 9999px;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #000;
    background-image: url(../assets/menu_open.png);
    background-size: 30px 23px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    /* position: relative; */
}

.main-nav {
    position: relative;
}


.main-menu {
    margin-top: 10px;
    display: none;
}

.main-menu.on {
    display: block;
}

.main-nav li {
    list-style: none;
    margin: 0;
}

.main-nav a,
.open-submenu {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 20px;
    background-color: rgba(255, 255, 255);
    z-index: 200;
}


.main-nav a:hover,
.main-nav a:active {
    background: #5f0575;
    color: #FFF;
}


.main-menu {
    position: absolute;
    right: 0;
    min-width: 200px;
    text-align: center;
}

.open-submenu {
    position: relative;

}

.arrow {
    position: absolute;
    right: 0;
    width: 16px;
    margin-right: 8px;
}



.main-menu .submenu a {
    background-color: #413a50;
    display: none;
}

.open-submenu {
    padding-left: 0;
    padding-right: 0;
}

.open-submenu:hover .submenu a,
.open-submenu:active .submenu a {
    display: block;
}



/* header {
    height: 100vh;
} */

.header-contact {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Oswald;
    font-size: 1.4rem;
    line-height: 2.85rem;
    font-weight: 700;
    text-transform: uppercase;
}

.phone::before {
    content: "";
    display: inline-block;
    background-image: url(../assets/phone-icon.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 25px;
    margin-right: 13px;
    vertical-align: bottom;
}

.mail::before {
    content: "";
    display: inline-block;
    background-image: url(../assets/mail-icon.png);
    background-repeat: no-repeat;
    width: 23px;
    height: 18px;
    margin-right: 13px;
    vertical-align: middle;
}


.header-main {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-image: linear-gradient(
      to top,
      #120e1c 34%,
      #100c1a 40%,
      rgba(7, 3, 18, 0) 60%
    ), */

    background-image: linear-gradient(to top,
            #120e1c 30%,
            #100c1a 40%,
            rgba(7, 3, 18, 0) 100%),
        url(../assets/bg-image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #070312;
    background-size: cover;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    background-image: url(../assets/logo.png);
    background-repeat: no-repeat;
    width: 149px;
    height: 63px;
}



/* koniec */



.heading-main {

    color: #fff;
    text-align: center;
    flex-shrink: 0;
    width: 100%;
}

.heading-main-1 {
    font-family: 'Oswald', sans-serif;
    margin: 99px 0 0 0;
    font-size: 7rem;
    font-weight: 700;
    line-height: 7.2rem;
    text-transform: uppercase;

}

.heading-main-2 {
    margin: 45px 0 0 0;
    font-size: 1.8rem;
    font-weight: 300;
}

/* main */

main {
    margin-top: 100px;
}

asside {
    display: none;
}

.text-underline {
    border-bottom: 2px solid #cd30be;
}

.text-colored {
    color: #fff
}

.text-bolded {
    font-weight: 700;
}

.about {
    padding-top: 20px;
}

.authors-images {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    padding: 0 10px;
}

.authors-images .author-image {
    width: 100px;
    height: 100px;
}

.quote {
    background-color: #1e1929;
    margin: 45px auto;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quote .quote-icon {
    width: 46px;
    height: 47px;
    color: #ffffff;
    font-size: 5.5rem;
}

.quote-line {
    display: none;
}

/* .quote-title {

    font-size: 20rem;
    font-weight: 300;
    line-height: 6rem;
} */

.quote-text {
    margin-top: 26px;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    line-height: 2rem;
}

.fa,
.fas {

    color: #ffffff
}

.future-list,
.now-list {
    margin-top: 44px;
}

.future-list-elements,
.now-list-elements {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 3rem;
}

.youtube-frame {
    margin: 64px auto 0 auto;
    width: 100%;
}

.youtube {

    max-width: 855px;
}

/* table */

.prices {
    margin-top: 37px;
}

.price-table {
    margin-top: 34px;
    text-align: center;
    width: 100%;
}



.price-table th,
.price-table td {
    padding: 12px 12px;
}

.price-table th,
.price-table td {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.3rem;
}

.price-table th {
    color: #ffffff;
    text-transform: uppercase;
}



.price-table tr:nth-last-child(odd) {
    background-color: rgba(7, 3, 18, 0.4);
}

.price-table tr:first-child {
    background-color: #362f45;
}

.table-desc {
    margin-top: 60px;
    font-family: Raleway;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.3rem;
}

/* questions faq */



.parting-line {
    width: 100%;
    height: 1px;
    margin-top: 44px;
    margin-bottom: 33px;
    background-color: #2b253b;
}

/* footer */

.footer-nav {
    margin-top: 58px;
}

.footer-nav-heading {
    color: #ffffff;
    font-family: Oswald;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.footer-nav-el li {
    list-style: none;
}

.footer-nav-el ul {
    margin: 34px 0;
}

.footer-nav-el li a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 0;
}

.footer-nav-el li a:hover {
    color: #fff;
}




.footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 25px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    padding-top: 8px;
    align-items: center;
}

.social-icon {
    text-indent: -999999px;
}

.social-icons .facebook {
    background-image: url(../assets/fb-icon.png);
    background-repeat: no-repeat;
    width: 8px;
    height: 14px;
    padding-right: 32px;
}

.social-icons .twitter {
    background-image: url(../assets/twitter-icon.png);
    background-repeat: no-repeat;
    padding-right: 32px;
    width: 16px;
    height: 13px;
}

.social-icons .linkedin {
    background-image: url(../assets/linkedin-icon.png);
    background-repeat: no-repeat;
    padding-right: 32px;
    width: 16px;
    height: 16px;
}

.social-icons .gplus {
    background-image: url(../assets/gplus-icon.png);
    background-repeat: no-repeat;
    padding-right: 32px;
    width: 21px;
    height: 15px;
}


/* footer copy */

.footer-copy {
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1e1929;
}




.copy-text {
    color: #413a50;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-transform: uppercase;
}

.footer-copy .logo-footer {
    transform: scale(0.8);
}


@media screen and (min-width: 1024px) {
    .heading-main-1 {
        font-size: 9rem;
        margin-top: 135px;
    }

    .heading-main-2 {
        font-size: 2.8rem;
        margin-top: 80px;
    }

    .youtube-frame {
        max-width: 1360px;
        padding: 0 30px;
        margin: 0 auto;
    }

    .questions-heading {
        font-size: 1.8rem;
    }

    .price-table th,
    .price-table td {
        font-size: 1.5rem;
    }

    .heading-style-3,
    .heading-style-2 {
        font-size: 2.8rem;
    }

    .authors-images .author-image {
        width: 249px;
        height: auto;
    }
}

@media screen and (min-width: 1366px) {

    .asside-menu {
        display: block;
    }

    .main-content {
        display: grid;
        grid-template-columns: 1fr 4fr;
        /* grid-column-gap: 60px; */
    }

    .asside-menu {
        width: 305px;
        height: 230px;
        margin-left: 120px;
        background-color: #1e1929;
        border-radius: 5px;
    }

    .asside-nav {
        margin: 0;
        display: flex;
        padding: 35px 42px 44px 42px;
        flex-direction: column;
        list-style: none;
        font-size: 1.8rem;
        font-family: 'oswald', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
    }

    .asside-nav a {
        display: block;
        padding: 16px 16px 16px 0;
        border-bottom: 1px solid #362f45;
        ;
    }

    .asside-nav a:hover,
    .asside-nav a:active {
        color: #cd30be;
    }

    .asside-nav li:last-child a {
        padding-bottom: 0;
        border-bottom: none;
    }

    .asside-nav .quote {
        max-width: 850px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 44px;
    }

    .quote {
        flex-direction: row;
        flex-wrap: nowrap;
        flex-shrink: 0;
    }

    .quote-line {
        display: block;
        width: 3px;
        background-color: #2b253b;
        height: 100px;
        margin-right: 40px
    }

    .fa,
    .fas {
        font-size: 5rem;
        margin-right: 44px;
    }

    .center-wrapper-media {
        max-width: 1360px;
        padding: 0 30px;
        margin: 0 auto;
    }

    .footer-nav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 90px;
    }


    .main-nav .bar {
        display: none;
    }

    .nav-bar .main-nav a,
    .nav-bar .main-nav .open-submenu {
        background-color: #cd30be;
        color: #fff;
        /* padding: 24px 36px; */
        font-size: 1.2rem;
        font-family: Montserrat;
        width: 115px;
        text-align: center;
    }



    .main-nav .main-menu {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        align-content: center;
        justify-content: center;

    }


    .nav-bar {
        width: 1266px;
        align-items: flex-start;
    }

    .open-submenu .arrow {
        display: none;
    }

    .main-menu .open-submenu .submenu {
        display: flex;
        flex-direction: column;
        width: 115px;
    }

    .price-info {
        color: #cd30be;
        font-family: Oswald;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 30rem;
        text-transform: uppercase;
        display: inline-block;
    }

    .header-contact {
        width: 1366px;
        justify-content: space-between;
    }

}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

/* PAGE PRODUKTY */

/* heading */

.trip-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.trip-place-header {
    display: flex;
    flex-direction: column;
}

.trip-title {
    display: block;
}

.underline {
    margin: 30px auto 0 auto;
    width: 25px;
    height: 2px;
    background-color: #cd30be;
}



.trip-desc-content {
    font-size: 1.4;
    font-weight: 300;
    margin: 27px 0 0 0;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 500px;

}

.trip-details {
    width: 320px;
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-family: Oswald;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.first-line,
.second-line {
    display: inline-block;
}

/* trip-items */

.trip {
    margin-top: 60px;

}

.trip-items {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.trip-item {
    align-self: center;
    max-width: 420px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #1e1929;
    height: 152px;
    margin-top: 21px;
    transition: .3s;
}

.trip-item-link {
    display: block;
}

.trip-item:hover {
    transform: scaleX(1.1) scaleY(1.2);
    z-index: 2;
    background-color: #fff;
    border: none;
}

.trip-item:hover .trip-name {
    color: #000;
}

.trip-item-img {
    width: 150px;
}

.trip-item figcaption {
    text-align: center;
    padding: 20px;
    align-self: center;
    width: 100%;
}

.trip-item .trip-name {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.trip-item .trip-price {
    color: #cd30be;
    font-size: 1.6rem;
    font-weight: 300;
}

/* page nav */

.page-nav-wrapper {
    max-width: 100%;
    margin: 60px auto;
    text-align: center;
}

/* #cd30be */

.page-nav-item {
    border: 4px solid transparent;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 30px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

.page-nav-item:first-child,
.page-nav-item:last-child {
    border-color: #2b253b;
}

.page-nav-item:hover,
.page-nav-item:active {
    border-color: #cd30be;
}

@media screen and (min-width: 1024px) {
    .trip-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
    }

    .trip-item {
        max-width: 100%;
    }

    .trip-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .trip-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        width: 118px;
    }

}

@media (min-width: 1366px) {
    .trip-items {
        grid-template-columns: 1fr 1fr 1fr 1fr
    }

    .trip-item {
        display: flex;
        flex-direction: column;
        width: 300px;
        min-height: 264px;
    }

    .trip-item .trip-item-img {
        height: 134px;
        width: 100%;
    }

    .trip-item figcaption {
        display: block;
        padding: 20px;
    }

    .trip-desc-content {
        font-size: 1.8rem;
    }
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

/* CONTACT PAGE */

.content-wrapper {
    max-width: 1276px;
    margin: 0 auto;
    padding: 0 30px;
}

.contact .contact-details {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
}


.table-hours-title {
    margin-top: 60px;
}


table.open-hours {
    margin-top: 21px;
    width: 100%;
}




table.open-hours tr {
    display: flex;
    justify-content: space-between;
}

table.open-hours td {
    padding: 12px 42px;
}

table.open-hours tr:nth-child(even) {
    background-color: #1e1929;
}

/* form */


.form-required::after {
    content: "*";
    margin-left: 7px;
}

.contact-form form {
    margin-top: 70px;
}

.form-field .form-label {
    display: block;
    margin-top: 17px;
    font-size: 1.6rem;
    font-weight: 700;
}

.form-field .form-control,
.form-field .form-control {
    margin-top: 15px;
    width: 100%;
    padding: 19px 20px;
    border-radius: 6px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 300;
    background-color: transparent;
    outline: none;
    transition: .3s;
}

.form-field .form-control {
    border: 3px solid #2d934f
}


.form-field .form-control:active,
.form-field .form-control:hover {
    border: 3px solid #ffffff;
}

.form-field .form-errors {
    margin-top: 13px;
    padding-left: 19px;
    color: #db3d3d;
    font-size: 1.4rem;
    font-weight: 300;
}

.form-field .form-required {
    border-color: #db3d3d;
}

.form-field select.form-control,
.form-field textarea.form-control {
    border: 3px solid #474155;
}

select.form-control:first-child {
    font-style: italic;
    color: #9b94aa;
}


.form-control option {
    color: #474155;
}

.form-field .form-client-radio {
    margin-top: 30px;
    text-transform: uppercase;
}

.form-client-radio .label-text {
    margin: 0 45px 0 10px
}

.checkbox-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-checkbox-field {
    width: 100%;
}

.form-checkbox-field:nth-child(even) {
    margin-left: 30px;
}

.form-textarea-msg {
    margin-top: 40px;
}

.form-field textarea.form-control {
    display: block;
    min-height: 160px;
}

.font-style-labels {
    font-size: 1.4rem;
    font-weight: 300;
}

.space .order-btn {
    margin-top: 50px;
    padding: 20px 50px;
    border: 4px solid #cd30be;
    background-color: transparent;
    color: #cd30be;
    font-family: Oswald;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.map-img {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    margin-top: 68px;
}

/* ukrycie checkboxów i radio i ich stylowanie */

[type="checkbox"],
[type="radio"] {
    display: none;
}

.form-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #474155;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
}

.form-checkbox-field label {
    display: block;
    margin-top: 10px;
}

[type="checkbox"]:checked+label .form-checkbox {
    background-image: url(../assets/checked.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.form-radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #474155;
    border-radius: 50%;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
}

[type="radio"]:checked+label .form-radio {
    background-image: url(../assets/radio.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.form-rules {
    margin-top: 30px;
}

.form-rule {
    display: inline-block;
    vertical-align: middle;
    margin-left: 18px;
}